.carteFeature{
    margin-top: 100px;
    margin-left: 100px;
    margin-right: 100px;
    margin-bottom: 100px;
   display: grid; 
   grid-template-rows: 10% 90%;
}
.titleCarte{
    background-color: #ffffff;
}
.carte{
    width: auto;
    height: auto;
    background-color: #ffffff;
}