.questionnaire{
    padding:50px;
    background-color: #C8FFD4;
    width: 700px;
    height:100%;
    border-radius: 20px;
    margin: 0 auto;
    
}

.wrapper{
    background-color: none;
    margin: auto;
    width: 100%;
    padding: 10px;
}

.buttonPrecNext{
    background-color:gainsboro ;
    color: red;
    font-weight: bold;
    text-align: center;
    width: 60px;
    display: inline;
    float: left;
}

.prop{
    display: inline;
    float: left;
    width: 100%;
}

.listeProp{
    display: inline;
    float: left;
    margin : 20px;
}

.submitQuestionnaire{
    margin-top: 30px;
    width: 100px;
    height: 30px;
    font-weight: bold;
    color: white;
    border: #B1AFFF solid 1px;
    background:#B1AFFF;
    border-radius: 10px;
}

