.btn {
    background-color: "#7ac38f";
    border: "1px solid #5c966d";
    border-radius: "7px";
    width: 75%;
    color: "white";
    display: "flex";
    align-items: "center";
    justify-content: "center";
    margin: "10px 0";
    margin-bottom: 10px;
    padding: 5px;
}

.btn:hover{
    background-color: #8db982;
}