button {
    width: 80%;
    font-size: 16px;
    color: #ffffff;
    background-color: #7AC38F;
    border-radius: 7px;
    display: flex;
    padding: 5px;
    justify-content: center;
    align-items: center;
    border: 1px solid #577e62;
    cursor: pointer;
    margin-left: 40px;
}

.correct {
    background-color: #2f922f;
  }
  
  .incorrect {
    background-color: #ff3333;
  }
  
  button:hover {
    background-color: #8db982;
  }
  
  button:focus {
    outline: none;
  }
  
  button svg {
    margin-right: 5px;
  }