.app {
  display: flex;
  justify-content: space-evenly;
  width: 450px;
  min-height: 200px;
  border-radius: 7px;
  background-color: #B1E9A3;
  border: 2px solid #7ac38f;
  padding: 20px;
}

.score-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-weight: bold;
}