.app {
    background-color: #4f6ace;
    width: 450px;
    min-height: 200px;
    height: min-content;
    border-radius: 15px;
    padding: 20px;
    box-shadow: 10px 10px 42px 0px rgba(65, 83, 173, 0.75);
    display:block;
    justify-content: space-evenly;
    color:aliceblue
  }